/* Color Palette */
:root {
  --deep-brown: #29211F;
  --muted-green: #798E87;
  --burnt-orange: #C27D38;
  --pale-gold: #CCC591;
  --gray-brown: #6A5F5B;
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #f8f8f8;
  line-height: 1.6;
}

/* Header Styling */
header {
  background-color: var(--gray-brown);
  color: var(--burnt-orange);
  padding: 1.5rem 2rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.name-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--burnt-orange);
  margin-bottom: 0.2rem;
}

header h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--muted-green);
}

.header-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header-nav a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--muted-green);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.header-nav a:hover {
  color: var(--burnt-orange);
}
